body {
    margin: 0;
    padding: 0;

    background-color: #2d2d2d;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    height: 90vh;
    margin: auto;

}

.sign-up,
.login {
    height: 25vh;
    width: 250px;
    padding: 10px;

    border: 1px solid #2d2d2d;
    border-radius: 5px;
    margin: 0 50px;

    background-color: #404041;
    color: #ededf5;
}

.sign-up button,
.login button {
    margin: 15px 0 0 0;
    padding: 5px 20px;

    background-color: #327dd3;
    color: #ededf5;
    border: none;
    border-radius: 2px;

    cursor: pointer;
}

input {
    background-color: #2d2d2d;
    border: none;
    color: #ededf5;
}

input:focus {
    outline: none;
    border-radius: 2px;

}

